﻿@Styles.Render("~/Content/css/form.css")
@Styles.Render("~/Content/css/toolbar.css")
@Scripts.Render("~/Content/js/toolbar.js")
@Scripts.Render("~/Controllers/ManageStudent/saveStudentListToClass.js")

<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    #hot-display-license-info {
        display: none;
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Student/ClassStudentIndex/@ViewBag.kelas.ClassId?subjectId=@ViewBag.subjectId&examId=@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Penambahan Pelajar ke Kelas Secara Pukal</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="info-dropdown">
        <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Info
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                
                <tr>
                    <td>Nama Kelas</td>
                    <td>@ViewBag.kelas.ClassName</td>
                </tr>
            </table>
        </div>
    </div>

    <input type="hidden" id="examId" value="@ViewBag.examId" />
    <input type="hidden" id="subjectId" value="@ViewBag.subjectId" />
    <input type="hidden" id="classId" value="@ViewBag.kelas.ClassId" />


    <div class="content">
        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <div id="toolbar">
            <div>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-plus"></i>&nbsp;Tambah Ruangan</a>

                <div class="dropdown-menu" style="padding: 10px">

                    <input type="text" class="form-control" name="rowNumber" id="rowNumber" placeholder="contoh: 40" style="margin-bottom: 5px" />

                    <button type="button" class="btn btn-primary btn-block" id="addRowBtn" style="margin-bottom: 5px">Jana Ruangan</button>

                </div>
            </div>

            <a id="removeRowBtn" style="cursor: pointer;"><i class="fas fa-trash"></i>&nbsp;Padam Ruangan Yang Dipilih</a>

            <a id="save" style="cursor: pointer;"><i class="fas fa-save"></i>&nbsp;Simpan</a>
        </div>

        <div style="height: 350px; overflow: auto" id="hot"></div>



    </div>
</div>