﻿@Scripts.Render("~/Controllers/ManageStudent/classStudentList.js")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    .info-dropdown {
        margin-bottom: 10px;
    }

    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }


    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    .dropdown {
        display: inline;
    }

    .subject-btn {
        text-align: center;
        font-weight: bold;
        color: blue;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }
</style>


<input type="hidden" id="examId" value="@ViewBag.examId" />
<input type="hidden" id="subjectId" value="@ViewBag.subjectId" />
<input type="hidden" id="classId" value="@ViewBag.kelas.ClassId" />

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/SubjectClass/SubjectClassIndex/@ViewBag.subjectId?examId=@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Senarai Pelajar</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown info-dropdown">
        <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Markah
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Nama Kelas</td>
                    <td>@ViewBag.kelas.ClassName</td>
                </tr>
                <tr>
                    <td>Tingkatan</td>
                    <td>@ViewBag.kelas.ClassForm</td>
                </tr>
                <tr>
                    <td>Jenis Kelas</td>
                    <td>@ViewBag.kelas.ClassType</td>
                </tr>

            </table>
        </div>
    </div>

    <div class="content">
        <table class="ui celled table" id="data-table" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th class="th-sm desktop-column">
                        Nama Pelajar
                    </th>
                    <th class="th-sm desktop-column">
                        No IC
                    </th>

                    <th class="th-sm" style="display:none">
                        Mobile
                    </th>
                    <th class="th-sm desktop-column">
                        Tindakan
                    </th>
                </tr>
            </thead>
            

        </table>
    </div>
</div>