﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageStudent/saveStudentEdit.js")

<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }
</style>

<input type="hidden" id="studentId" name="studentId" value="@ViewBag.student.StudentId" />

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Student/Index'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Borang Penambahan Pelajar Baru</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="name">Nama Pelajar<span class="required">*</span> </label>
                <input class="form-control" type="text" name="name" id="name" value="@ViewBag.student.StudentName" placeholder="contoh: Ali bin Ahmad" required>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="ic">No. IC<span class="required">*</span> </label>
                <input disabled class="form-control" type="text" name="ic" id="ic" value="@ViewBag.student.StudentIc" placeholder="98010108942" required>
                <br>
            </div>
        </div>


        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Simpan</span></button>

    </div>
</div>