﻿@Scripts.Render("~/Controllers/ManageStudent/gradeAverageList.js")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }



    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Student/FormList/@ViewBag.exam.ExamId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Gred Purata Pelajar (Tingkatan @ViewBag.studentForm)</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown">
        <button style="margin-bottom: 15px" class="btn btn-primary dropdown-toggle pure-material-button-contained" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Gred Purata
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Nama Peperiksaan</td>
                    <td>@ViewBag.exam.ExamName</td>
                </tr>
                <tr>
                    <td>Tahun</td>
                    <td>@ViewBag.exam.ExamYear</td>
                </tr>
                <tr>
                    <td>Jenis Markah</td>
                    <td>@ViewBag.exam.ExamMarkType</td>
                </tr>
                <tr>
                    <td>Peringkat</td>
                    <td>@ViewBag.exam.ExamLevel</td>
                </tr>
                <tr>
                    <td>Tarikh Mula</td>
                    <td>@ViewBag.exam.ExamStartDate</td>
                </tr>
                <tr>
                    <td>Tarikh Tamat</td>
                    <td>@ViewBag.exam.ExamEndDate</td>
                </tr>
            </table>
        </div>
    </div>

    <input type="hidden" id="examId" value="@ViewBag.exam.ExamId" />
    <input type="hidden" id="form" value="@ViewBag.form" />
    <input type="hidden" id="examYear" value="@ViewBag.exam.ExamYear" />

    <div class="content">
        <table class="ui celled table" id="data-table" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th class="th-sm desktop-column">No</th>
                    <th class="th-sm desktop-column">
                        Nama Pelajar
                    </th>
                    <th class="th-sm desktop-column">
                        No IC
                    </th>
                    <th class="th-sm desktop-column">
                        Kelas
                    </th>
                    <th class="th-sm desktop-column">
                        Gred Purata (Markah Sebenar)
                    </th>
                    <th class="th-sm desktop-column">
                        Gred Purata (ETR)
                    </th>
                    <th class="th-sm desktop-column">
                        Jumlah MP Diambil
                    </th>

                    <th class="th-sm" style="display:none">
                        Mobile
                    </th>
                    <th class="th-sm desktop-column">
                        <!-- Tindakan -->
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>