﻿@Styles.Render("~/Content/css/form.css")
<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }
</style>

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Exam/Index'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Maklumat Peperiksaan</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="name">Nama Periksaan <span class="required">*</span> </label>
                <input disabled class="form-control" type="text" name="name" id="name" placeholder="contoh: Ujian 1" value="@ViewBag.exam.ExamName" required>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="year">Tahun Peperiksaan<span class="required">*</span> </label>
                <input disabled class="form-control" type="text" id="year" name="year" value="@ViewBag.exam.ExamYear" required />
                <br>

            </div>
            <div class="col-md-6">
                <label for="markType">Jenis Markah<span class="required">*</span> </label>
                <select disabled class="form-control" id="markType" name="markType">
                    <option value="AR1" @Html.Raw(ViewBag.exam.ExamMarkType == "AR1" ? "selected='selected'" : "")>AR1</option>
                    <option value="AR2" @Html.Raw(ViewBag.exam.ExamMarkType == "AR2" ? "selected='selected'" : "")>AR2</option>
                    <option value="Markah Akhir Tahun" @Html.Raw(ViewBag.exam.ExamMarkType == "Markah Akhir Tahun" ? "selected='selected'" : "")>Markah Akhir Tahun</option>
                </select>
                <br>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="startDate">Tarikh mula<span class="required">*</span> </label>
                <input disabled class="form-control" type="date" id="startDate" name="startDate" value="@ViewBag.exam.ExamStartDate" required />
                <br>

            </div>
            <div class="col-md-6">
                <label for="endDate">Tarikh tamat<span class="required">*</span> </label>
                <input disabled class="form-control" type="date" id="endDate" name="endDate" value="@ViewBag.exam.ExamEndDate" required />
                <br>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="type">Peringkat<span class="required">*</span> </label>
                <select disabled class="form-control" id="type">
                    <option value="Menengah Bawah" @Html.Raw(ViewBag.exam.ExamLevel == "Menengah Bawah" ? "selected='selected'" : "")>Menengah Bawah</option>
                    <option value="Menengah Atas" @Html.Raw(ViewBag.exam.ExamLevel == "Menengah Atas" ? "selected='selected'" : "")>Menengah Atas</option>
                </select>

                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="administratorId">Penyelia<span class="required">*</span></label>
                <select disabled id="administratorId" class="form-control" name="administratorId">
                    <option value="@ViewBag.exam.ExamAdmin.AdminId" selected>@ViewBag.exam.ExamAdmin.AdminName (@ViewBag.exam.ExamAdmin.Username)</option>
                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="remarks">Komen</label>
                <textarea disabled class="form-control" name="remarks" id="remarks" placeholder="komen">@ViewBag.exam.ExamRemarks</textarea>
                <br>
            </div>
        </div>
    </div>
</div>