@Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/frame.css")
@Styles.Render("~/Content/css/jquery.mCustomScrollbar.min.css")
@Styles.Render("~/Content/css/LineIcons.css")

@Scripts.Render("~/Content/js/solid.js")
@Scripts.Render("~/Content/js/fontawesome.js")

@Styles.Render("~/Content/css/jquery.dataTables.min.css")


@Styles.Render("~/Content/css/table.css")
@Styles.Render("~/Content/css/style.css")

@Scripts.Render("~/Content/js/jquery-3.5.1.js")
@Scripts.Render("~/Content/js/jquery.dataTables.min.js")
@Scripts.Render("~/Content/js/popper.min.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")
@Scripts.Render("~/Content/js/jquery.mCustomScrollbar.concat.min.js")
@Scripts.Render("~/Content/js/sidebar.js")

@Styles.Render("~/Content/css/select2.min.css")
@Scripts.Render("~/Content/js/select2.min.js")

@Styles.Render("~/Content/css/handsontable.full.min.css")
@Scripts.Render("~/Content/js/handsontable.full.min.js")

@Scripts.Render("~/Content/js/Chart.min.js")
@Styles.Render("~/Content/css/hover.css")


@Styles.Render("~/Content/css/materialTable.css")

<style>
    .menu-li{
        padding-left: 0px;
    }

    #dismiss {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #7386D5;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        padding-top: 10px;
    }
</style>

<title>Headcount</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

@if (Session["uuid"] == null)
{
    Response.Redirect("/");
}


<body class="mdc-typography">
    <div class="wrapper">
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header" style="height: 100px">
                
            </div>

            <ul class="list-unstyled components">
                <li class="menu-li">
                    <a class="hvr-grow-shadow" href="/Exam/Index"><i class="list-icon fas fa-file-alt"></i> Mengurus Headcount Peperiksaan</a>
                </li>

                <li class="menu-li">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle hvr-grow-shadow"><i class="list-icon fas fa-database "></i> Mengurus Data Sistem</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a class="hvr-grow-shadow" href="/Class/Index"><i class="list-icon fas fa-chalkboard"></i> Mengurus Senarai Kelas</a>
                        </li>
                        <li>
                            <a class="hvr-grow-shadow" href="/Subject/Index"><i class="list-icon fas fa-book-open"></i> Mengurus Senarai Mata Pelajaran</a>
                        </li>
                        <li>
                            <a class="hvr-grow-shadow" href="/Student/Index"><i class="list-icon fas fa-graduation-cap"></i> Mengurus Senarai Pelajar</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-li">
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle hvr-grow-shadow"><i class="list-icon fas fa-user "></i> Mengurus Akaun Pengguna</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu2">
                        <li>
                            <a class="hvr-grow-shadow" href="/Admin/Index"><i class="list-icon fas fa-user-tie"></i> Mengurus Akaun Penyelia</a>
                        </li>
                        <li>
                            <a class="hvr-grow-shadow" href="/Teacher/Index"><i class="list-icon fas fa-chalkboard-teacher"></i> Mengurus Akaun Guru</a>
                        </li>
                        <li>
                            <a class="hvr-grow-shadow" href="/Guest/Index"><i class="list-icon fas fa-users"></i> Mengurus Akaun Pengguna Tetamu</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-li">
                    <a class="hvr-grow-shadow" href="/Statistic/Index"><i class="list-icon fas fa-chart-line"></i> Melihat Graf Analisis Headcount</a>
                </li>

                <li class="menu-li">
                    <a class="hvr-grow-shadow" href="/Announcement/Index"><i class="list-icon fas fa-bullhorn"></i> Mengurus Pengumunan</a>
                </li>

                <li class="menu-li">
                    <a class="hvr-grow-shadow" href="/Method/Index"><i class="list-icon fas fa-chalkboard-teacher"></i> Mengurus Teknik Pengajaran</a>
                </li>

                <li class="menu-li">
                    <a class="hvr-grow-shadow" href="/Status/Index"><i class="list-icon fas fa-eye"></i> Menyemak Status Headcount</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
            </ul>
        </nav>
    </div>
    
    
    <nav style="margin-bottom: 0px" class="navbar navbar-expand-sm bg-info navbar-dark justify-content-end">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-justify"></i>
                    <span>Menu</span>
                </button>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <i class="profile-btn fa fa-user"></i>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                
                <li class="nav-item active">
                    <a class="nav-link" href="#">Log Keluar</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()


</body>

