﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <a href="#"><i class="fas fa-arrow-circle-left"></i> Kembali</a><h3>An error occurred while processing your request.</h3>
    </hgroup>
</body>
</html>
