﻿@Scripts.Render("~/Controllers/ViewStatistic/classStudentStatistic.js")
@Styles.Render("~/Content/css/form.css")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }



    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }

    .card {
        background: #fff;
        border-radius: 15px;
    }

    .card-header {
        padding: 0px;
        padding-left: 0px;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .warning{
        font-weight: bold;
        color: red;
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Statistic/SubjectClassIndex/@ViewBag.subject.SubjectId?examId=@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Analisis Pelajar</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown">
        <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Kelas Terlibat
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Nama Kelas</td>
                    <td>@ViewBag.kelas.ClassName</td>
                </tr>
                <tr>
                    <td>Tingkatan</td>
                    <td>@ViewBag.kelas.ClassForm</td>
                </tr>
                <tr>
                    <td>Jenis Kelas</td>
                    <td>@ViewBag.kelas.ClassType</td>
                </tr>
            </table>
        </div>
    </div>

    <input type="hidden" id="examId" value="@ViewBag.examId" />
    <input type="hidden" id="subjectId" value="@ViewBag.subject.SubjectId" />
    <input type="hidden" id="classId" value="@ViewBag.kelas.ClassId" />
    <input type="hidden" id="pageNumber" value="@ViewBag.pageNumber" />

    <div class="content">
        <div class="row" id="stat-list">

            @for (var i = 0; i < ViewBag.students.Count; i++)
            {
                <div class="col-md-6" style="margin-top: 10px">
                    <div id="accordion-@i">
                        <div class="card graph-card">
                            <div class="card-header graph-header" id="headingOne" style='padding-left: 0px; border-radius: 15px;'>
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#@ViewBag.students[i].StudentId" aria-expanded="true" aria-controls="@ViewBag.students[i].StudentId" onclick="renderChart(@ViewBag.students[i].StudentId)">
                                        <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                        @ViewBag.students[i].StudentName (@ViewBag.students[i].StudentIc)
                                        @if (ViewBag.students[i].NeedAttention)
                                        {
                                            <span class="warning">Perhatian Diperlukan</span>
                                        }
                                        else
                                        {

                                        }
                                        <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="@ViewBag.students[i].StudentId" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-@i">
                                <div class="card-body">
                                    <div class="row">
                                        <canvas id="chart-@ViewBag.students[i].StudentId"></canvas>
                                    </div>
                                    <div class="row" style="justify-content: flex-end">
                                        <button onclick="window.location.href='/Statistic/StudentGp/@ViewBag.students[i].StudentId?classId=@ViewBag.kelas.ClassId&subjectId=@ViewBag.subject.SubjectId&examId=@ViewBag.examId'" class="btn btn-primary btn-sm pure-material-button-contained">
                                            analisis pelajar <i class='fas fa-angle-right' style='font-size:24px; float: right; padding-left: 5px; color: white'></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <div id="pageNavBtn">

                </div>
            </div>
        </div>
    </div>
