﻿@Scripts.Render("~/Controllers/ViewStatistic/examSubjectStatistic.js")
@Styles.Render("~/Content/css/form.css")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }



    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }

    .card {
        background: #fff;
        border-radius: 15px;
    }

    .card-header {
        padding: 0px;
        padding-left: 0px;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Statistic/Index/'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Analisis Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown">
        <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Peperiksaan Terlibat
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Nama Peperiksaan</td>
                    <td>@ViewBag.exam.ExamName</td>
                </tr>
                <tr>
                    <td>Tahun</td>
                    <td>@ViewBag.exam.ExamYear</td>
                </tr>
                <tr>
                    <td>Jenis Markah</td>
                    <td>@ViewBag.exam.ExamMarkType</td>
                </tr>
                <tr>
                    <td>Peringkat</td>
                    <td>@ViewBag.exam.ExamLevel</td>
                </tr>
                <tr>
                    <td>Tarikh Mula</td>
                    <td>@ViewBag.exam.ExamStartDate</td>
                </tr>
                <tr>
                    <td>Tarikh Tamat</td>
                    <td>@ViewBag.exam.ExamEndDate</td>
                </tr>
            </table>
        </div>
    </div>

    <input type="hidden" id="examId" value="@ViewBag.exam.ExamId" />
    <input type="hidden" id="examYear" value="@ViewBag.exam.ExamYear" />
    <input type="hidden" id="pageNumber" value="@ViewBag.pageNumber" />

    <div class="content">
        <div class="row" id="stat-list">

            @for (var i = 0; i < ViewBag.subjects.Count; i++)
            {
                <div class="col-md-6" style="margin-top: 10px">
                    <div id="accordion-@i">
                        <div class="card graph-card">
                            <div class="card-header graph-header" id="headingOne" style='padding-left: 0px; border-radius: 15px;'>
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#@ViewBag.subjects[i].SubjectId" aria-expanded="true" aria-controls="@ViewBag.subjects[i].SubjectId">
                                        <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                        @ViewBag.subjects[i].SubjectName (@ViewBag.subjects[i].SubjectCode)
                                        <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="@ViewBag.subjects[i].SubjectId" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-@i">
                                <div class="card-body">

                                    @for (var j = 0; j < 6; j++)
                                    {
                                        if (ViewBag.subjects[i].SubjectLevel == "Menengah Bawah")
                                        {
                                            if (j == 4 || j == 5)
                                            {
                                                continue;
                                            }
                                            else
                                            {
                                                var name = "";

                                                if (j == 0)
                                                {
                                                    name = "peralihan";
                                                }
                                                else
                                                {
                                                    name = j.ToString();
                                                }

                                                <div class="row subject-form-card" id="@ViewBag.subjects[i].SubjectId-f-@j">
                                                    <div class="col-md-12">
                                                        <div class="card graph-card">
                                                            <div class="card-header graph-header" style='padding-left: 0px; border-radius: 15px;'>
                                                                <!--a href="#" data-toggle="collapse" data-target="#collapseOneA">Child A</a-->

                                                                <h5 class="mb-0">
                                                                    <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#collapse-@ViewBag.subjects[i].SubjectId-f-@j" aria-expanded="true" aria-controls="@ViewBag.subjects[i].SubjectId-f-@j" onclick="renderChart(@ViewBag.subjects[i].SubjectId, @j)">
                                                                        <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                                                        Tingkatan @name
                                                                        <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                                                    </button>
                                                                </h5>
                                                            </div>
                                                            <div class="card-body collapse" data-parent="#@ViewBag.subjects[i].SubjectId-f-@j" id="collapse-@ViewBag.subjects[i].SubjectId-f-@j">
                                                                <canvas id="chart-@ViewBag.subjects[i].SubjectId-f-@j"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else if (ViewBag.subjects[i].SubjectLevel == "Menengah Atas")
                                        {
                                            if (j == 0 || j == 1 || j == 2 || j == 3)
                                            {
                                                continue;
                                            }
                                            else
                                            {
                                                <div class="row subject-form-card" id="@ViewBag.subjects[i].SubjectId-f-@j">
                                                    <div class="col-md-12">
                                                        <div class="card graph-card">
                                                            <div class="card-header graph-header" style='padding-left: 0px; border-radius: 15px;'>
                                                                <!--a href="#" data-toggle="collapse" data-target="#collapseOneA">Child A</a-->

                                                                <h5 class="mb-0">
                                                                    <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#collapse-@ViewBag.subjects[i].SubjectId-f-@j" aria-expanded="true" aria-controls="@ViewBag.subjects[i].SubjectId-f-@j" onclick="renderChart(@ViewBag.subjects[i].SubjectId, @j)">
                                                                        <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                                                        Tingkatan @j
                                                                        <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                                                    </button>
                                                                </h5>
                                                            </div>
                                                            <div class="card-body collapse" data-parent="#@ViewBag.subjects[i].SubjectId-f-@j" id="collapse-@ViewBag.subjects[i].SubjectId-f-@j">
                                                                <canvas id="chart-@ViewBag.subjects[i].SubjectId-f-@j"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    <br />
                                    <div class="row" style="justify-content: flex-end">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-secondary btn-drop pure-material-button-contained" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a href='/SubjectStatistic/TeachingMethodStatistic/@ViewBag.subjects[i].SubjectId?examId=@ViewBag.exam.ExamId' class="dropdown-item">
                                                    analisis teknik pengajaran
                                                </a>

                                                <a href='/SubjectStatistic/ClassHourStatistic/@ViewBag.subjects[i].SubjectId?examId=@ViewBag.exam.ExamId' class="dropdown-item">
                                                    analisis masa kelas
                                                </a>

                                                <a href='/Statistic/SubjectClassIndex/@ViewBag.subjects[i].SubjectId?examId=@ViewBag.exam.ExamId' class="dropdown-item">
                                                    analisis selanjutnya <i class='fas fa-angle-right' style='font-size:24px; float: right; padding-left: 5px; color: white'></i>
                                                </a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <div id="pageNavBtn">

                </div>
            </div>
        </div>
    </div>
