﻿@Scripts.Render("~/Controllers/ViewStatistic/subjectClassStatistic.js")
@Styles.Render("~/Content/css/form.css")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }



    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }

    .card {
        background: #fff;
        border-radius: 15px;
    }

    .card-header {
        padding: 0px;
        padding-left: 0px;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Statistic/ExamSubjectIndex/@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Analisis Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown">
        <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Mata Pelajaran Terlibat
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Nama Mata Pelajaran</td>
                    <td>@ViewBag.subject.SubjectName</td>
                </tr>
                <tr>
                    <td>Kod Mata Pelajaran</td>
                    <td>@ViewBag.subject.SubjectCode</td>
                </tr>
            </table>
        </div>
    </div>

    <input type="hidden" id="subjectId" value="@ViewBag.subject.SubjectId" />
    <input type="hidden" id="examId" value="@ViewBag.examId" />
    <input type="hidden" id="pageNumber" value="@ViewBag.pageNumber" />

    <div class="content">
        <div class="row" id="stat-list">

            @for (var i = 0; i < ViewBag.classes.Count; i++)
            {
                <div class="col-md-6" style="margin-top: 10px">
                    <div id="accordion-@i">
                        <div class="card graph-card">
                            <div class="card-header graph-header" id="headingOne" style='padding-left: 0px; border-radius: 15px;'>
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#@ViewBag.classes[i].ClassId" aria-expanded="true" aria-controls="@ViewBag.classes[i].ClassId">
                                        <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                        @ViewBag.classes[i].ClassName
                                        <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="@ViewBag.classes[i].ClassId" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-@i">
                                <div class="card-body">

                                    <div class="row subject-form-card">
                                        <div class="col-md-12">
                                            <div id="#@ViewBag.classes[i].ClassId-a-@i">
                                                <div class="card graph-card">
                                                    <div class="card-header graph-header" style='padding-left: 0px; border-radius: 15px;'>
                                                        <!--a href="#" data-toggle="collapse" data-target="#collapseOneA">Child A</a-->

                                                        <h5 class="mb-0">
                                                            <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#a-@ViewBag.classes[i].ClassId" aria-expanded="true" aria-controls="a-@ViewBag.classes[i].ClassId" onclick="renderChart(@ViewBag.classes[i].ClassId, '@ViewBag.subject.SubjectLevel')">
                                                                <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                                                Analisis Gred Pelajar
                                                                <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                                            </button>
                                                        </h5>
                                                    </div>

                                                    <div id="a-@ViewBag.classes[i].ClassId" class="collapse" aria-labelledby="headingOne" data-parent="#@ViewBag.classes[i].ClassId-a-@i">
                                                        <canvas id="myChart-@ViewBag.classes[i].ClassId"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row subject-form-card">
                                        <div class="col-md-12">
                                            <div id="#@ViewBag.classes[i].ClassId-b-@i">
                                                <div class="card graph-card">
                                                    <div class="card-header graph-header" style='padding-left: 0px; border-radius: 15px;'>
                                                        <!--a href="#" data-toggle="collapse" data-target="#collapseOneA">Child A</a-->

                                                        <h5 class="mb-0">
                                                            <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#b-@ViewBag.classes[i].ClassId" aria-expanded="true" aria-controls="b-@ViewBag.classes[i].ClassId" onclick="renderPieChart(@ViewBag.classes[i].ClassId, '@ViewBag.subject.SubjectLevel')">
                                                                <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                                                Peratusan Gagal Dan Lulus
                                                                <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                                            </button>
                                                        </h5>
                                                    </div>

                                                    <div id="b-@ViewBag.classes[i].ClassId" class="collapse" aria-labelledby="headingOne" data-parent="#@ViewBag.classes[i].ClassId-b-@i">
                                                        <canvas id="myPieChart-@ViewBag.classes[i].ClassId"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="justify-content: flex-end; margin-top: 15px">
                                        <button onclick="window.location.href='/Statistic/ClassStudentIndex/@ViewBag.classes[i].ClassId?subjectId=@ViewBag.subject.SubjectId&examId=@ViewBag.examId'" class="pure-material-button-contained">
                                            analisis selanjutnya
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <div id="pageNavBtn">

                </div>
            </div>
        </div>
    </div>
