﻿@Scripts.Render("~/Controllers/ViewStatistic/teachingMethodStatistic.js")
@Styles.Render("~/Content/css/form.css")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }



    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }

    .card {
        background: #fff;
        border-radius: 15px;
    }

    .card-header {
        padding: 0px;
        padding-left: 0px;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Statistic/ExamSubjectIndex/@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Analisis Teknik Pengajaran Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown">
        <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Mata Pelajaran
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Nama Mata Pelajaran</td>
                    <td>@ViewBag.subject.SubjectName</td>
                </tr>
                <tr>
                    <td>Kod Mata Pelajaran</td>
                    <td>@ViewBag.subject.SubjectCode</td>
                </tr>
            </table>
        </div>
    </div>
    <input type="hidden" id="examId" value="@ViewBag.examId" />
    <input type="hidden" id="subjectId" value="@ViewBag.subject.SubjectId" />
    <input type="hidden" id="pageNumber" value="@ViewBag.pageNumber" />

    <div class="content">
        <div class="row" id="stat-list">
            @for (var i = 0; i < ViewBag.examYears.Count; i++)
            {
                <div class="col-md-6" style="margin-top: 10px">
                    <div id="accordion-@i">
                        <div class="card graph-card">
                            <div class="card-header graph-header" id="headingOne" style='padding-left: 0px; border-radius: 15px;'>
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#@ViewBag.examYears[i]" aria-expanded="true" aria-controls="@ViewBag.examYears[i]" onclick="renderChart('@ViewBag.examYears[i]')">
                                        <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                        @ViewBag.examYears[i]
                                        <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="@ViewBag.examYears[i]" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-@i">
                                <div class="card-body">
                                    <div class="row subject-form-card">

                                        <div class="col-md-12">
                                            <canvas id="chart-@ViewBag.examYears[i]"></canvas>
                                        </div>
                                    </div>

                                    @*

                                <div class="row" style="justify-content: flex-end; margin-top: 15px">
                                    <button onclick="window.location.href='/Statistic/ClassStudentIndex/@ViewBag.classes[i].ClassId?subjectId=@ViewBag.subject.SubjectId&examId=@ViewBag.examId'" class="btn btn-primary btn-sm" style="border-radius: 15px">
                                        analisis selanjutnya <i class='fas fa-angle-right' style='font-size:24px; float: right; padding-left: 5px; color: white'></i>
                                    </button>
                                </div>

                                    *@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <div id="pageNavBtn">

                </div>
            </div>
        </div>
    </div>
