﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageAnnouncement/generateAnnouncement.js")
<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }
</style>

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="javascript:history.back()" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Maklumat Pengumunan</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="name">Tajuk Pengumunan<span class="required">*</span> </label>
                <input value="Sila lengkap senarai markah masing-masing" class="form-control" type="text" name="title" id="title" required>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="remarks">Kandungan</label>
                <textarea class="form-control" name="body" id="body">
Perhatian kepada guru-guru yang mempunyai nama pengguna yang disenaraikan di bawah, sila lengkapkan senarai markah masing-masing. Terima Kasih

                                @foreach (var admin in ViewBag.admins)
                                {
                                    @admin
                                }

                                @foreach (var teacher in ViewBag.teachers)
                                {
                                    @teacher
                                }

                            </textarea>
                <br>
            </div>
        </div>


        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Papar Pengumuman</span></button>

    </div>
</div>