﻿@Styles.Render("~/Content/css/form.css")
@Styles.Render("~/Content/css/toolbar.css")
@Scripts.Render("~/Content/js/toolbar.js")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }



    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Status/Index'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Sila Pilih Satu Kategori</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div onclick="window.location.href='/Status/ShowMarks/@ViewBag.examId'" class="card-header card-menu" id="headingOne" style='padding-left: 0px;'>
            <h5 class="mb-0">
                <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#subjectInfo" aria-expanded="true" aria-controls="subjectInfo">
                    <i class='fas fa-address-book' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                    Senarai Markah Yang Belum Dimasukkan
                </button>
            </h5>
        </div>

        <div onclick="window.location.href='/Status/ShowTargets/@ViewBag.examId'" class="card-header card-menu" id="headingOne" style='padding-left: 0px;'>
            <h5 class="mb-0">
                <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#subjectInfo" aria-expanded="true" aria-controls="subjectInfo">
                    <i class='fas fa-address-book' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                    Senarai Sasaran Yang Belum Dimasukkan
                </button>
            </h5>
        </div>
    </div>
</div>