﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageSubject/assignSubjectAdmin.js")
@Scripts.Render("~/Controllers/ManageAdmin/suggestAdmin.js")

<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    .info-dropdown {
        margin-bottom: 20px;
    }
</style>

<input type="hidden" value="@ViewBag.subjectId" id="subjectId" />
<input type="hidden" value="@ViewBag.examId" id="examId" />


<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/ExamSubjects/ExamSubjectIndex/@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Penyelia Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">


        <div class="row">
            <div class="col-md-12">
                <label for="administratorId">Penyelia<span class="required">*</span></label>
                <select id="administratorId" class="form-control" name="administratorId">
                    <option value="">- Sila Pilih Seorang Penyelia -</option>

                </select>
                <br>
            </div>
        </div>

        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Simpan</span></button>

    </div>
</div>