﻿@Styles.Render("~/Content/css/form.css")


<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }
</style>

<input type="hidden" value="@ViewBag.subject.SubjectId" id="subjectId" />

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Subject/Index'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Maklumat Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="name">Nama Mata Pelajaran<span class="required">*</span> </label>
                <input disabled class="form-control" type="text" name="name" id="name" placeholder="contoh: Bahasa Melayu" value="@ViewBag.subject.SubjectName" required>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="code">Kod Mata Pelajaran<span class="required">*</span> </label>
                <input disabled class="form-control" type="text" id="code" placeholder="1103" name="code" value="@ViewBag.subject.SubjectCode" required />
                <br>

            </div>
            <div class="col-md-6">
                <label for="type">Jenis<span class="required">*</span> </label>
                <select disabled class="form-control" type="text" id="type" name="type" required>

                    <option value="wajib lulus" @Html.Raw(ViewBag.subject.SubjectType == "wajib lulus" ? "selected='selected'" : "")>Wajib Lulus</option>

                    <option value="tidak wajib lulus" @Html.Raw(ViewBag.subject.SubjectType == "tidak wajib lulus" ? "selected='selected'" : "")>Tidak Wajib Lulus</option>

                </select>
                <br>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="level">Peringkat<span class="required">*</span></label>
                <select disabled class="form-control" id="level">
                    <option value="Menengah Bawah" @Html.Raw(ViewBag.subject.SubjectLevel == "Menengah Bawah" ? "selected='selected'" : "")>Menengah Bawah</option>
                    <option value="Menengah Atas" @Html.Raw(ViewBag.subject.SubjectLevel == "Menengah Atas" ? "selected='selected'" : "")>Menengah Atas</option>
                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="remarks">Komen</label>
                <textarea disabled class="form-control" name="remarks" id="remarks" placeholder="komen">@ViewBag.subject.SubjectRemarks</textarea>
                <br>
            </div>
        </div>
    </div>
</div>