﻿@Scripts.Render("~/Controllers/ManageSubject/examSubjectList.js")


<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    .info-dropdown {
        margin-bottom: 10px;
    }

    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }


    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    .dropdown {
        display: inline;
    }

    .subject-btn {
        text-align: center;
        font-weight: bold;
        color: blue;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }
</style>


<input type="hidden" id="examId" value="@ViewBag.exam.ExamId" />

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Exam/Index'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Senarai Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown info-dropdown">
        <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Peperiksaan Terlibat
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Nama Peperiksaan</td>
                    <td>@ViewBag.exam.ExamName</td>
                </tr>
                <tr>
                    <td>Tahun</td>
                    <td>@ViewBag.exam.ExamYear</td>
                </tr>
                <tr>
                    <td>Jenis Markah</td>
                    <td>@ViewBag.exam.ExamMarkType</td>
                </tr>
                <tr>
                    <td>Peringkat</td>
                    <td>@ViewBag.exam.ExamLevel</td>
                </tr>
                <tr>
                    <td>Tarikh Mula</td>
                    <td>@ViewBag.exam.ExamStartDate</td>
                </tr>
                <tr>
                    <td>Tarikh Tamat</td>
                    <td>@ViewBag.exam.ExamEndDate</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="content">
        <table class="ui celled table" id="data-table" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th class="th-sm desktop-column">
                        Nama Peperiksaan
                    </th>
                    <th class="th-sm desktop-column">
                        Jenis Markah
                    </th>
                    <th class="th-sm desktop-column">
                        Tahun Peperiksaan
                    </th>
                    <th class="th-sm desktop-column">
                        Peringkat
                    </th>
                    <th class="th-sm desktop-column">
                        Penyelia
                    </th>
                    <th class="th-sm" style="display:none">
                        Mobile
                    </th>
                    <th class="th-sm desktop-column">
                        <!-- Tindakan -->
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>