﻿@Styles.Render("~/Content/css/form.css")
@Styles.Render("~/Content/css/toolbar.css")
@Scripts.Render("~/Content/js/toolbar.js")

<style>
    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    .dropdown {
        display: inline;
    }

    .subject-btn {
        text-align: center;
        font-weight: bold;
        color: blue;
    }



    @@media only screen and (max-width: 769px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }

        .more-info-btn {
            width: 100%;
            margin-bottom: 5px;
        }

        .col-md-2 {
            width: 100%;
        }
    }

    .graph-header {
        padding: 0px;
        border-radius: 15px;
    }

    .graph-card {
        border-radius: 15px;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
        background-color: rgba(0,0,0,.03);
    }

    .btn:hover {
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    }

    .btn-link.btn:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .stat-search {
        margin-top: 30px;
        margin-bottom: 40px;
        border-radius: 15px;
    }

    .subject-form-card {
        margin-bottom: 20px;
    }

    .more-info-btn {
        margin-left: 5px;
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/SubjectTarget/SubjectTargetIndex/@ViewBag.subject.SubjectId?examYear=@ViewBag.examYear&examId=@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Sasaran Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="dropdown">
        <button class="btn btn-primary" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info"></i>&nbsp; Maklumat Peperiksaan Terlibat
        </button>
        <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
            <table class="table table-striped table-bordered table-sm" cellspacing="0">
                <tr>
                    <td>Mata Pelajaran</td>
                    <td>@ViewBag.subject.SubjectName</td>
                </tr>
                <tr>
                    <td>Kod Mata Pelajaran</td>
                    <td>@ViewBag.subject.SubjectCode</td>
                </tr>
                <tr>
                    <td>Peringkat</td>
                    <td>@ViewBag.subject.SubjectLevel</td>
                </tr>
                <tr>
                    <td>Tahun</td>
                    <td>@ViewBag.examYear</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="content">
        <div class="row">
            @for (var i = 0; i < ViewBag.columns.Length; i++)
            {
                <div class="col-md-3" style="margin-top: 10px">
                    <div id="accordion-@i">
                        <div class="card graph-card">
                            <div class="card-header graph-header" id="headingOne" style='padding-left: 0px; border-radius: 15px;'>
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link btn-text" data-toggle="collapse" data-target="#column-@i" aria-expanded="true" aria-controls="column-@i">
                                        <i class='fas fa-chart-line' style='font-size:24px; float: left; padding-right: 5px; color: black'></i>
                                        @ViewBag.columns[i] (@ViewBag.gpmp[i])
                                        <i class='fas fa-angle-down' style='font-size:24px; float: right; padding-left: 5px; color: black'></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="column-@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-@i">
                                <div class="card-body">
                                    <table class="table">
                                        <tr>
                                            <th>Gred</th>
                                            <th>Bil</th>
                                            <th>Peratus</th>
                                        </tr>
                                        @{int index = 0; }

                                        @foreach (var grade in ViewBag.grades)
                                        {
                                            <tr>
                                                <td>@grade</td>
                                                <td>@ViewBag.gradeCounts[i, index]</td>
                                                <td>@ViewBag.gradePercentage[i, index] %</td>
                                            </tr>


                                            index++;
                                        }

                                        <tr>
                                            <th>Jumlah</th>
                                            <td>@ViewBag.total[i]</td>
                                        </tr>
                                        <tr>
                                            <th>GPMP</th>
                                            <td>@ViewBag.gpmp[i]</td>
                                        </tr>
                                        <tr>
                                            <th>Lulus</th>
                                            <td colspan="2">@ViewBag.passes[i] (@ViewBag.passPercent[i] %)</td>
                                        </tr>
                                        <tr>
                                            <th>Gagal</th>
                                            <td colspan="2">@ViewBag.fails[i] (@ViewBag.failPercent[i] %)</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
