﻿@Styles.Render("~/Content/css/form.css")
@Styles.Render("~/Content/css/toolbar.css")
@Scripts.Render("~/Content/js/toolbar.js")
@Scripts.Render("~/Controllers/ManageResult/saveResult.js")

<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    #hot-display-license-info {
        display: none;
    }
</style>

<input type="hidden" id="pageNumber" value="@ViewBag.page" />

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Student/ClassStudentIndex/@ViewBag.kelas.ClassId?subjectId=@ViewBag.subject.SubjectId&examId=@ViewBag.exam.ExamId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Pengurusan Markah Pelajar</h3>
    </div>
</div>

<div class="body-box card card-4">

    <input type="hidden" id="examId" value="@ViewBag.exam.ExamId" />
    <input type="hidden" id="subjectId" value="@ViewBag.subject.SubjectId" />
    <input type="hidden" id="classId" value="@ViewBag.kelas.ClassId" />


    <div class="content">
        <div class="alert alert-info" role="alert">
            <i class="fas fa-info"></i>&nbsp; Sila taip dash ( - ) pada ruangan yang hendak dikosongkan
        </div>

        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <div style="margin-bottom: 10px;">
            <div style="display: inline" class="info-dropdown">
                <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-info"></i>&nbsp; Maklumat Markah
                </button>
                <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
                    <table class="table table-striped table-bordered table-sm" cellspacing="0">
                        <tr>
                            <td>Nama Peperiksaan</td>
                            <td>@ViewBag.exam.ExamName</td>
                        </tr>
                        <tr>
                            <td>Jenis Markah</td>
                            <td>@ViewBag.exam.ExamMarkType</td>
                        </tr>
                        <tr>
                            <td>Tahun Peperiksaan</td>
                            <td>@ViewBag.exam.ExamYear</td>
                        </tr>
                        <tr>
                            <td>Nama Mata Pelajaran</td>
                            <td>@ViewBag.subject.SubjectName</td>
                        </tr>
                        <tr>
                            <td>Nama Kelas</td>
                            <td>@ViewBag.kelas.ClassName</td>
                        </tr>
                    </table>
                </div>
            </div>

            <button id="save" class="btn btn-primary pure-material-button-contained" style="display: inline"><i class="fas fa-save"></i>&nbsp;Simpan</button>
            <h6 style="display: inline">halaman : </h6>
            <div style="display: inline" id="pageNavBtn">

            </div>
        </div>

        <div style="height: 260px; overflow: auto" id="hot"></div>

        

    </div>
</div>