﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageSubject/changeSubjectAdmin.js")
@Scripts.Render("~/Controllers/ManageAdmin/suggestAdmin.js")

<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    .info-dropdown {
        margin-bottom: 20px;
    }
</style>

<input type="hidden" value="@ViewBag.subject.SubjectId" id="subjectId" />
<input type="hidden" value="@ViewBag.exam.ExamId" id="examId" />


<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/ExamSubjects/ExamSubjectIndex/@ViewBag.exam.ExamId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Tukar Penyelia Mata Pelajaran</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div class="dropdown info-dropdown">
            <button class="btn btn-primary pure-material-button-contained" type="button" id="detailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-info"></i>&nbsp; Maklumat Mata Pelajaran
            </button>


            <div class="dropdown-menu info-box" aria-labelledby="dropdownMenuButton">
                <table class="table table-striped table-bordered table-sm" cellspacing="0">
                    <tr>
                        <td>Mata Pelajaran</td>
                        <td>@ViewBag.subject.SubjectName</td>
                    </tr>
                    <tr>
                        <td>Kod Mata Pelajaran</td>
                        <td>@ViewBag.subject.SubjectCode</td>
                    </tr>
                    <tr>
                        <td>Peringkat</td>
                        <td>@ViewBag.subject.SubjectLevel</td>
                    </tr>
                    <tr>
                        <td>Nama Peperiksaan</td>
                        <td>@ViewBag.exam.ExamName</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="administratorId">Penyelia<span class="required">*</span></label>
                <select id="administratorId" class="form-control" name="administratorId">
                    <option value="@ViewBag.admin.AdminId">@ViewBag.admin.AdminName (@ViewBag.admin.Username)</option>

                </select>
                <br>
            </div>
        </div>

        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Simpan</span></button>

    </div>
</div>