﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageClass/assignClassAdmin.js")
@Scripts.Render("~/Controllers/ManageAdmin/suggestAdmin.js")
@Scripts.Render("~/Controllers/ManageMethod/suggestMethod.js")
@Scripts.Render("~/Controllers/ManageTeacher/suggestTeacher.js")

<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    .info-dropdown {
        margin-bottom: 10px;
    }

    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }

    <style >
    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    .dropdown {
        display: inline;
    }

    .subject-btn {
        text-align: center;
        font-weight: bold;
        color: blue;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }
</style>


<input type="hidden" value="@ViewBag.classId" id="classId" />
<input type="hidden" value="@ViewBag.subjectId" id="subjectId" />
<input type="hidden" value="@ViewBag.examId" id="examId" />

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/SubjectClass/SubjectClassIndex/@ViewBag.SubjectId?examId=@ViewBag.examId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Maklumat Penyeliaan Kelas</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="administratorId">Penyelia<span class="required">*</span></label>
                <select id="administratorId" class="form-control" name="administratorId">
                    <option value="">- Sila Pilih Seorang Penyelia -</option>

                </select>
                <br>
            </div>

            <div class="col-md-12">
                <label for="teacherId">Guru Bertugas<span class="required">*</span></label>
                <select id="teacherId" class="form-control" name="teacherId">
                    <option value="">- Sila Pilih Seorang Guru -</option>

                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="classHour">Jumlah Masa Dalam Seminggu</label>
                <input class="form-control" type="text" name="classHour" id="classHour" placeholder="Contoh : 5"></input>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="method">Teknik Pengajaran</label>
                <select id="methodId" class="form-control" name="methodId">
                    <option value="">- Sila Pilih Teknik Pengajaran -</option>

                </select>
                <br>
            </div>
        </div>


        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Simpan</span></button>

    </div>
</div>