﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageClass/changeClassAdmin.js")
@Scripts.Render("~/Controllers/ManageAdmin/suggestAdmin.js")
@Scripts.Render("~/Controllers/ManageTeacher/suggestTeacher.js")
@Scripts.Render("~/Controllers/ManageMethod/suggestMethod.js")
<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    .info-dropdown {
        margin-bottom: 10px;
    }
</style>

<input type="hidden" value="@ViewBag.kelas.ClassSubject.SubjectId" id="subjectClassId" />
<input type="hidden" value="@ViewBag.exam.ExamId" id="examId" />
<input type="hidden" value="@ViewBag.subject.SubjectId" id="subjectId" />


<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/SubjectClass/SubjectClassIndex/@ViewBag.subject.SubjectId?examId=@ViewBag.exam.ExamId'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Tukar Penyelia Kelas</h3>
    </div>
</div>

<div class="body-box card card-4">
    

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="administratorId">Penyelia<span class="required">*</span></label>
                <select id="administratorId" class="form-control" name="administratorId">
                    <option value="@ViewBag.kelas.ClassAdmin.AdminId">@ViewBag.kelas.ClassAdmin.AdminName (@ViewBag.kelas.ClassAdmin.Username)</option>

                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="teacherId">Guru Bertugas<span class="required">*</span></label>
                <select id="teacherId" class="form-control" name="teacherId">
                    <option value="@ViewBag.kelas.ClassTeacher.TeacherId">@ViewBag.kelas.ClassTeacher.TeacherName (@ViewBag.kelas.ClassTeacher.Username)</option>

                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="classHour">Jumlah Masa Dalam Seminggu</label>
                <input class="form-control" value="@ViewBag.kelas.ClassHour" type="text" name="classHour" id="classHour" placeholder="Contoh : 5" />
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="method">Teknik Pengajaran</label>
                <select id="methodId" class="form-control" name="methodId">
                    <option value="@ViewBag.kelas.ClassMethod.MethodId">@ViewBag.kelas.ClassMethod.MethodName</option>

                </select>
                <br>
            </div>
        </div>


        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Simpan</span></button>

    </div>
</div>