﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageClass/saveClassEdit.js")

<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }
</style>

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Class/Index'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Borang Penyuntingan Maklumat Kelas</h3>
    </div>
</div>

<input type="hidden" value="@ViewBag.kelas.ClassId" id="classId" />

<div class="body-box card card-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="name">Nama Kelas<span class="required">*</span> </label>
                <input disabled class="form-control" type="text" name="name" id="name" placeholder="contoh: 5 Sains" value="@ViewBag.kelas.ClassName" required>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="form">Tingkatan<span class="required">*</span></label>
                <select id="form" class="form-control" name="form">
                    <option value="" selected>- Pilih Tingkatan -</option>

                    <option value="peralihan" @Html.Raw(ViewBag.kelas.ClassForm == "peralihan" ? "selected='selected'" : "")>Peralihan</option>
                    <option value="1" @Html.Raw(ViewBag.kelas.ClassForm == "1" ? "selected='selected'" : "")>Tingkatan 1</option>
                    <option value="2" @Html.Raw(ViewBag.kelas.ClassForm == "2" ? "selected='selected'" : "")>Tingkatan 2</option>
                    <option value="3" @Html.Raw(ViewBag.kelas.ClassForm == "3" ? "selected='selected'" : "")>Tingkatan 3</option>

                    <option value="4" @Html.Raw(ViewBag.kelas.ClassForm == "4" ? "selected='selected'" : "")>Tingkatan 4</option>
                    <option value="5" @Html.Raw(ViewBag.kelas.ClassForm == "5" ? "selected='selected'" : "")>Tingkatan 5</option>

                </select>

                <br>
            </div>

            <div class="col-md-6">
                <label for="type">Jenis<span class="required">*</span></label>
                <select id="type" class="form-control" name="type">
                    <option value="" selected>- Pilih Jenis Kelas -</option>
                    <option @Html.Raw(ViewBag.kelas.ClassType == "kelas cemerlang" ? "selected='selected'" : "") value="kelas cemerlang">Kelas Cemerlang</option>
                    <option @Html.Raw(ViewBag.kelas.ClassType == "kelas biasa" ? "selected='selected'" : "") value="kelas biasa">Kelas Biasa</option>
                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="remarks">Komen</label>
                <textarea class="form-control" name="remarks" id="remarks" placeholder="komen">@ViewBag.kelas.ClassRemarks</textarea>
                <br>
            </div>
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Simpan</span></button>

    </div>
</div>