﻿@Styles.Render("~/Content/css/form.css")
@Styles.Render("~/Content/css/toolbar.css")
@Scripts.Render("~/Content/js/toolbar.js")
@Scripts.Render("~/Controllers/ManageResult/saveResult.js")

<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }

    #hot-display-license-info {
        display: none;
    }
</style>

<style>
    .date-row {
        display: flex;
        justify-content: space-between;
    }

    .announce-margin {
        margin-bottom: 20px;
    }

    .list-icon {
        margin-right: 20px;
    }

    .menu-title {
        color: white;
        background: #109582;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.4);
        padding-left: 20px;
    }

    h5{
        margin-left: 20px;
    }


    .news-box {
        background-color: #fff;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 1px 1px 3px rgba(38, 28, 28, 0.4);
    }

    .home-menu-tile {
        margin-bottom: 20px;
        cursor: pointer;

    }

    .archive-row {
        justify-content: flex-end;
    }
</style>

<div class="title-box">
    <div class="title-text">
        <h3 class="title mdc-typography--headline2">Selamat Datang Ke Sistem Headcount Sekolah Menengah</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="row">
        <div class="col-md-6">
            <div class="row">

                <div onclick="window.location.href='/Exam/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-file-alt"></i> Mengurus Headcount Peperiksaan
                    </div>
                </div>

                <div onclick="window.location.href='/Statistic/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-chart-line"></i> Melihat Graf Analisis Headcount
                    </div>
                </div>

                <h5><i class="list-icon fas fa-database "></i> Data Sistem</h5>

                <div onclick="window.location.href='/Class/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-chalkboard"></i> Mengurus Senarai Kelas
                    </div>
                </div>

                <div onclick="window.location.href='/Subject/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-book-open"></i> Mengurus Senarai Mata Pelajaran
                    </div>
                </div>

                <div onclick="window.location.href='/Student/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-graduation-cap"></i> Mengurus Senarai Pelajar
                    </div>
                </div>

                <h5><i class="list-icon fas fa-user "></i>Akaun Pengguna</h5>

                <div onclick="window.location.href='/Admin/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-user-tie"></i> Mengurus Akaun Penyelia
                    </div>
                </div>

                <div onclick="window.location.href='/Teacher/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-chalkboard-teacher"></i> Mengurus Akaun Guru
                    </div>
                </div>

                <div onclick="window.location.href='/Guest/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-users"></i> Mengurus Akaun Pengguna Tetamu
                    </div>
                </div>

                <h5><i class="list-icon fas fa-file "></i>Lain-lain</h5>

                <div onclick="window.location.href='/Announcement/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-bullhorn"></i> Mengurus Pengumunan
                    </div>
                </div>

                <div onclick="window.location.href='/Method/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-chalkboard-teacher"></i> Mengurus Teknik Pengajaran
                    </div>
                </div>

                <div onclick="window.location.href='/Status/Index'" class="col-md-12 home-menu-tile">
                    <div class="menu-title hvr-box-shadow-inset" style="width: 100%;">
                        <i class="list-icon fas fa-eye"></i> Menyemak Status Headcount
                    </div>
                </div>


            </div>

        </div>

        <div class="col-md-6">
            <div class="row">
                @foreach (var announcement in ViewBag.announcements)
                {
                    <div class="col-md-12 announce-margin">
                        <div class="news-box" style="background-color: rgba(221, 220, 220, 0.7); ">

                            <h4>@announcement.Title</h4>
                            <h6>@announcement.Body</h6>
                            <div class="row">
                                <div class="col-md-12 date-row">
                                    <p>@announcement.PostDate</p>

                                    <button onclick="window.location.href='/Statistic/ClassStudentIndex/ViewBag.classes[i].ClassId?subjectId=ViewBag.subject.SubjectId&examId=ViewBag.examId'" class="btn btn-primary btn-sm pure-material-button-contained" style="border-radius: 15px">Lihat Selanjutnya</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-12 announce-margin">
                    <div class="row">
                        <div class="col-md-12 archive-row">
                            <button onclick="window.location.href='/Statistic/ClassStudentIndex/ViewBag.classes[i].ClassId?subjectId=ViewBag.subject.SubjectId&examId=ViewBag.examId'" class="btn btn-primary btn-sm pure-material-button-contained" style="border-radius: 15px">Arkib Pengumunan</button>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>