﻿@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
@Styles.Render("~/Content/css/login.css")
@Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/frame.css")
@Styles.Render("~/Content/css/jquery.mCustomScrollbar.min.css")
@Styles.Render("~/Content/css/LineIcons.css")

@Scripts.Render("~/Content/js/solid.js")
@Scripts.Render("~/Content/js/fontawesome.js")

@Styles.Render("~/Content/css/jquery.dataTables.min.css")
@Styles.Render("~/Content/css/table.css")
@Styles.Render("~/Content/css/style.css")

@Scripts.Render("~/Content/js/jquery-3.5.1.js")
@Scripts.Render("~/Content/js/jquery.dataTables.min.js")
@Scripts.Render("~/Content/js/popper.min.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")
@Scripts.Render("~/Content/js/jquery.mCustomScrollbar.concat.min.js")
@Scripts.Render("~/Content/js/sidebar.js")
@Scripts.Render("~/Controllers/Login/login.js")

<script>
    $(document).ready(function () {
        $('#image').attr('src', '@Url.Content("~/Content/images/edu.jpg")');
    });

</script>

<style>
    .form-margin {
        margin-top: 70px;
    }

    .login-margin {
        margin-top: 30px;
    }

    .mobile-logo {
        display: none;
    }

    .error-box {
        display: none;
    }

    @@media screen and (max-width: 991px) {
        .form-margin {
            margin-top: 0px;
        }

        .logistic-img {
            display: none;
        }

        .desktop-logo {
            display: none;
        }

        .mobile-logo {
            display: block;
        }

        .alert-danger {
            width: 100%;
        }

        #save {
            width: 100%;
        }

        .desktop-title {
            display: none;
        }
    }
</style>



<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <h5 style="margin-top: 20px; text-align: center" class="desktop-title">Sistem Headcount Sekolah Menengah</h5>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line logistic-img"> <img id="image" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mobile-logo card2 card border-0 px-4 py-5" style="text-align: center" margin>

                    <h5 style="margin-top: 20px">Sistem Headcount Sekolah Menengah</h5>
                </div>

                <div class="card2 card border-0 px-4 py-5" margin>
                    <div class="row px-3 form-margin">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Nama Pengguna *</h6>
                        </label> <input class="mb-4" type="text" id="username" name="username" placeholder="">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Kata Laluan *</h6>
                        </label> <input type="password" name="password" id="password" placeholder="">
                    </div>

                    <div class="row mb-3 px-3 login-margin"> <button type="button" id="login-btn" class="btn btn-blue text-center" >Log Masuk</button> </div>
                    <div class="row mb-4 px-3">
                        <div class="error-box alert alert-danger" id="error-box" role="alert"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>

            </div>
        </div>
    </div>
</div>