﻿@Scripts.Render("~/Controllers/ManageAnnouncement/allAnnouncementList.js")


<style>
    @@media only screen and (max-width: 576px) {

        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }



    .btn-add {
        vertical-align: initial;
        margin-left: 5px;
    }

    td button {
        margin-bottom: 10px;
        /*width: 97px;*/
    }

    .mobile-column {
        display: none;
    }

    @@media only screen and (max-width: 767px) {
        .btn-add {
            margin-left: 0px;
            margin-bottom: .5rem;
        }

        .desktop-column {
            display: none;
        }

        .mobile-column {
            display: block;
        }
    }
</style>



<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Home/HomePage'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Senarai Pengumuman</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <table class="ui celled table" id="data-table" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th class="th-sm desktop-column">
                        Tajuk
                    </th>
                    <th class="th-sm desktop-column">
                        Tarikh
                    </th>
                    <th class="th-sm" style="display:none">
                        Mobile
                    </th>
                    <th class="th-sm desktop-column">
                        <!-- Tindakan -->
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>