﻿@Styles.Render("~/Content/css/form.css")
@Scripts.Render("~/Controllers/ManageMethod/saveMethod.js")
<style>
    @@media only screen and (max-width: 576px) {


        .title-text {
            margin-left: 10px;
        }

            .title-text h3 {
                font-size: 18px;
            }
    }
</style>

<div class="title-box">
    <div class="title-text">
        <h3><i onclick="window.location.href='/Method/Index'" class="pure-material-button-contained back-btn fa fa-arrow-left"></i></h3>
        <h3 class="title mdc-typography--headline2">Borang Penambahan Teknik Pengajaran Baru</h3>
    </div>
</div>

<div class="body-box card card-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <label for="name">Nama Teknik Pengajaran <span class="required">*</span> </label>
                <input class="form-control" type="text" name="name" id="name" placeholder="contoh: pembelajaran atas talian" required>
                <br>
            </div>

        </div>


        <div class="error-box alert alert-danger" id="error-box" role="alert">
        </div>

        <button type="button" class="pure-material-button-contained" id="save"><i class="fas fa-save"></i><span style="margin-left: 5px;" class="btn-text text-white">Simpan</span></button>

    </div>
</div>